.campus {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery img {
  width: 23%;
  border-radius: 10px;

  transition: 0.3s ease-in-out;
}
.gallery img:hover {
  transition: 50;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 48%;
    margin-bottom: 25px;
  }
}
